backup
webui/docker_alpine
target/
!.mvn/wrapper/maven-wrapper.jar

### TESTS ###
webui/html/tests/acceptance/
webui/html/tests/functional/
webui/html/tests/performance/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/