replicaCount: 3
imagereposync:
  name: sync-repo
  repository: kupolua/sync-repo
  tag: latest
  pullPolicy: IfNotPresent
imagenginxlua:
  name: nginx-lua
  repository: kupolua/nginx_lua
  tag: latest
  pullPolicy: IfNotPresent
env:
  webuipath: "webui/html"
  gitrepourl: "https://github.com/agapeteo/visualtext.git"
  gitbranch: "master"
  apiName: api
  clusterHost: svc.cluster.local
  webuiport: "8080"
  resolver: "10.0.0.10"
service:
  name: webui-port
  type: LoadBalancer
  externalPort: 80
  internalPort: 80
strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1
  type: RollingUpdate
volumes:
  volumename: www-data
  volumepath: /www-data
  configname: config
  configpath: /etc/nginx/conf/conf.d
resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 200Mi
restartPolicy: Always
