replicaCount: 2
strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1
  type: RollingUpdate
image:
  repository: agapeteo/hazelcast-zookeeper-member
  tag: 1.0.0
  env:
    name: ZOOKEEPER_URL
    value: zk:2181
  pullPolicy: IfNotPresent
service:
  name: hazelcast-port
  type: ClusterIP
  externalPort: 5701
  internalPort: 5701
java:
  xmx: -Xmx512m
resources:
  requests:
    cpu: 1000m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 512Mi
restartPolicy: Always